body {
  background: #333;
  min-height: 100vh;
  min-width: 100vw;
}
.navigation {
  position: relative;
  background-color: #222;
  width: 30px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 0 0 10px;
  padding-left: 10px;
  padding-top: 10px;
  box-shadow: 10px 0 0 blue;
  transition: width 0.5s;
}
.navigation ul {
  color: whitesmoke;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.navigation ul li {
  position: relative;
  margin: 0;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.navigation ul li:hover {
  background-color: rgb(26, 158, 215);
}
.navigation li a {
  text-decoration: none;
  display: inline;
}
.title {
  display: inline-block;
  color: whitesmoke;
}
.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  color: whitesmoke;
}
.navigation:hover {
  width: 100px;
}
.navigation ul li.active {
  background-color: blue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navigation ul li.active::before {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  bottom: -10px;
  right: 0;
  border-radius: 50%;
  box-shadow: 5px -5px 0 blue;
}
.navigation ul li.active::after {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: -10px;
  right: 0;
  border-radius: 50%;
  box-shadow: 5px 5px 0 blue;
}
.navigation ul li.active:hover {
  background-color: blue;
}
