body {
  background: #333;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}
.navigation {
  position: relative;
  background-color: #222;
  height: 100vh;
  width: 60px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
  padding-top: 20px;
  box-shadow: 10px 0 0 blue;
  transition: width 0.5s;
}
.navigation ul {
  color: whitesmoke;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.navigation ul li {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navigation ul li:hover {
  background-color: rgba(0, 0, 255, 0.8);
}
.navigation li a {
  text-decoration: none;
  display: inline;
  font-size: 2em;
}
.title {
  display: inline-block;
  color: whitesmoke;
}
.icon {
  display: inline-block;
  position: relative;
  top: 4px;
  height: 1.2em;
  width: 1.2em;
  padding-right: 10px;
  color: whitesmoke;
}
.navigation:hover {
  width: 200px;
}
.navigation ul li.active {
  background-color: blue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navigation ul li.active::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  bottom: -20px;
  right: 0;
  border-radius: 50%;
  box-shadow: 10px -10px 0 blue;
}
.navigation ul li.active::after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: -20px;
  right: 0;
  border-radius: 50%;
  box-shadow: 10px 10px 0 blue;
}
.navigation ul li.active:hover {
  background-color: blue;
}
